# Intro to Deep Learning with Keras

This Jupyter notebook contains code and explanations for the 2018 AIS Intro to Deep Learning workshop.

## How to Use This Notebook
This notebook has several cells, some with markdown and others with runnable Python code. To run a cell, click on the cell and then use the **SHIFT + ENTER** keyboard shortcut or navigate to **Cell** in the top menu bar and click on **Run Cells** in the dropdown menu.

## Software Prerequisites
Make sure to install the following software/libraries:

- **Anaconda** - Python distribution with many useful libraries
- **TensorFlow** - deep learning library, acts as a backend for Keras
- **Keras** - a high-level deep learning library that runs on top of TensorFlow

## Libraries Used

- **Numpy** - for handling linear algebra and numerical computations in machine learning.
- **Pandas** - for reading in, preprocessing, and analyzing data.
- **SciKit-Learn** - a general-purpose ML library.
- **Keras** - features a simple API for deep learning.

## About the Dataset - Predicting Income Class Using Census Data
The goal of this exercise is to train a neural network to predict whether or not a person earns over $50K per year using information from Census data. This is an example of a **binary classification** problem. The dataset is present in the GitHub repo for this workshop, but can also be found online at the UCI Machine Learning repository: https://archive.ics.uci.edu/ml/datasets/Adult

## Importing Numpy and Pandas

In [1]:
import numpy as np
import pandas as pd

## Reading in the Data
Using Pandas, we can read the dataset from a zipped csv file, and store the data in a dataframe object.

In [2]:
data = pd.read_csv('adult-census-income.zip')
data.head() # Displays the first 5 rows of the data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

### Label Encoding the Data

In [4]:
data['education'].unique()

array(['HS-grad', 'Some-college', '7th-8th', '10th', 'Doctorate',
       'Prof-school', 'Bachelors', 'Masters', '11th', 'Assoc-acdm',
       'Assoc-voc', '1st-4th', '5th-6th', '12th', '9th', 'Preschool'],
      dtype=object)

In [5]:
def encode_education(education):
    
    code_dict = {'Preschool':0,
                 '1st-4th': 1,
                 '5th-6th': 2,
                 '7th-8th': 3,
                 '9th': 4,
                 '10th': 5,
                 '11th': 6,
                 '12th': 7,
                 'HS-grad': 8,
                 'Prof-school': 9,
                 'Some-college': 10,
                 'Assoc-voc': 11,
                 'Assoc-acdm': 12,
                 'Bachelors': 13,
                 'Masters': 14,
                 'Doctorate': 15}
    
    return code_dict[education]

data['education'] = data['education'].apply(encode_education)

In [6]:
data['native.country'].unique()

array(['United-States', '?', 'Mexico', 'Greece', 'Vietnam', 'China',
       'Taiwan', 'India', 'Philippines', 'Trinadad&Tobago', 'Canada',
       'South', 'Holand-Netherlands', 'Puerto-Rico', 'Poland', 'Iran',
       'England', 'Germany', 'Italy', 'Japan', 'Hong', 'Honduras', 'Cuba',
       'Ireland', 'Cambodia', 'Peru', 'Nicaragua', 'Dominican-Republic',
       'Haiti', 'El-Salvador', 'Hungary', 'Columbia', 'Guatemala',
       'Jamaica', 'Ecuador', 'France', 'Yugoslavia', 'Scotland',
       'Portugal', 'Laos', 'Thailand', 'Outlying-US(Guam-USVI-etc)'],
      dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder
label_encode_cols = ['income', 'sex']

for col in label_encode_cols:
    lbl = LabelEncoder()
    data[col] = lbl.fit_transform(data[col])


data = pd.get_dummies(data, columns=['workclass', 'marital.status', 'occupation', 'relationship',
                                    'race', 'native.country'])

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 93 columns):
age                                          32561 non-null int64
fnlwgt                                       32561 non-null int64
education                                    32561 non-null int64
education.num                                32561 non-null int64
sex                                          32561 non-null int64
capital.gain                                 32561 non-null int64
capital.loss                                 32561 non-null int64
hours.per.week                               32561 non-null int64
income                                       32561 non-null int64
workclass_?                                  32561 non-null uint8
workclass_Federal-gov                        32561 non-null uint8
workclass_Local-gov                          32561 non-null uint8
workclass_Never-worked                       32561 non-null uint8
workclass_Private                            32561 non-null uint8
workclass_Self-emp-inc                       32561 non-null uint8
workclass_Self-emp-not-inc                   32561 non-null uint8
workclass_State-gov                          32561 non-null uint8
workclass_Without-pay                        32561 non-null uint8
marital.status_Divorced                      32561 non-null uint8
marital.status_Married-AF-spouse             32561 non-null uint8
marital.status_Married-civ-spouse            32561 non-null uint8
marital.status_Married-spouse-absent         32561 non-null uint8
marital.status_Never-married                 32561 non-null uint8
marital.status_Separated                     32561 non-null uint8
marital.status_Widowed                       32561 non-null uint8
occupation_?                                 32561 non-null uint8
occupation_Adm-clerical                      32561 non-null uint8
occupation_Armed-Forces                      32561 non-null uint8
occupation_Craft-repair                      32561 non-null uint8
occupation_Exec-managerial                   32561 non-null uint8
occupation_Farming-fishing                   32561 non-null uint8
occupation_Handlers-cleaners                 32561 non-null uint8
occupation_Machine-op-inspct                 32561 non-null uint8
occupation_Other-service                     32561 non-null uint8
occupation_Priv-house-serv                   32561 non-null uint8
occupation_Prof-specialty                    32561 non-null uint8
occupation_Protective-serv                   32561 non-null uint8
occupation_Sales                             32561 non-null uint8
occupation_Tech-support                      32561 non-null uint8
occupation_Transport-moving                  32561 non-null uint8
relationship_Husband                         32561 non-null uint8
relationship_Not-in-family                   32561 non-null uint8
relationship_Other-relative                  32561 non-null uint8
relationship_Own-child                       32561 non-null uint8
relationship_Unmarried                       32561 non-null uint8
relationship_Wife                            32561 non-null uint8
race_Amer-Indian-Eskimo                      32561 non-null uint8
race_Asian-Pac-Islander                      32561 non-null uint8
race_Black                                   32561 non-null uint8
race_Other                                   32561 non-null uint8
race_White                                   32561 non-null uint8
native.country_?                             32561 non-null uint8
native.country_Cambodia                      32561 non-null uint8
native.country_Canada                        32561 non-null uint8
native.country_China                         32561 non-null uint8
native.country_Columbia                      32561 non-null uint8
native.country_Cuba                          32561 non-null uint8
native.country_Dominican-Republic            32561 non-null uint8
native.country_Ecuador                       32561 non-null uint8
native.country_El-Salvador                   32561 non-null uint8
native.country_England                       32561 non-null uint8
native.country_France                        32561 non-null uint8
native.country_Germany                       32561 non-null uint8
native.country_Greece                        32561 non-null uint8
native.country_Guatemala                     32561 non-null uint8
native.country_Haiti                         32561 non-null uint8
native.country_Holand-Netherlands            32561 non-null uint8
native.country_Honduras                      32561 non-null uint8
native.country_Hong                          32561 non-null uint8
native.country_Hungary                       32561 non-null uint8
native.country_India                         32561 non-null uint8
native.country_Iran                          32561 non-null uint8
native.country_Ireland                       32561 non-null uint8
native.country_Italy                         32561 non-null uint8
native.country_Jamaica                       32561 non-null uint8
native.country_Japan                         32561 non-null uint8
native.country_Laos                          32561 non-null uint8
native.country_Mexico                        32561 non-null uint8
native.country_Nicaragua                     32561 non-null uint8
native.country_Outlying-US(Guam-USVI-etc)    32561 non-null uint8
native.country_Peru                          32561 non-null uint8
native.country_Philippines                   32561 non-null uint8
native.country_Poland                        32561 non-null uint8
native.country_Portugal                      32561 non-null uint8
native.country_Puerto-Rico                   32561 non-null uint8
native.country_Scotland                      32561 non-null uint8
native.country_South                         32561 non-null uint8
native.country_Taiwan                        32561 non-null uint8
native.country_Thailand                      32561 non-null uint8
native.country_Trinadad&Tobago               32561 non-null uint8
native.country_United-States                 32561 non-null uint8
native.country_Vietnam                       32561 non-null uint8
native.country_Yugoslavia                    32561 non-null uint8
dtypes: int64(9), uint8(84)
memory usage: 4.8 MB

### Scaling the Data

In [8]:
from sklearn.preprocessing import StandardScaler
X = data.drop(['income'], axis=1)
y = data['income']
for col in X.columns:
    scaler = StandardScaler()
    X[col] = scaler.fit_transform(X[col].values.reshape(-1, 1))

//anaconda/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
//anaconda/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype uint8 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

### Splitting the Data into Training and Testing Sets

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
y_train

6010     0
4461     0
8762     0
26437    0
2952     1
21580    0
16361    0
10508    1
21269    0
10914    0
24091    1
10042    0
5824     0
23009    0
20200    1
2084     1
5503     0
9328     0
27232    1
7420     1
11491    0
8161     0
9892     1
17316    0
8483     0
23843    0
6081     0
4305     0
11358    0
29827    0
        ..
5051     0
5311     1
2433     1
23333    0
32157    1
30187    0
26967    0
769      1
32052    0
1685     1
8322     1
16023    0
27495    1
11363    0
28020    0
14423    0
21962    0
4426     0
29910    1
16850    0
6265     0
22118    0
11284    0
11964    0
21575    0
29802    0
5390     1
860      1
15795    1
23654    0
Name: income, Length: 29304, dtype: int64

### Building the Structure of a Neural Network in Keras

In [21]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(92, input_dim=92, activation='sigmoid'))
model.add(Dense(184, activation='sigmoid'))
model.add(Dense(92, activation='sigmoid'))
model.add(Dense(1, activation='sigmoid'))

print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_14 (Dense)             (None, 92)                8556
_________________________________________________________________
dense_15 (Dense)             (None, 184)               17112
_________________________________________________________________
dense_16 (Dense)             (None, 92)                17020
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 93
=================================================================
Total params: 42,781
Trainable params: 42,781
Non-trainable params: 0
_________________________________________________________________
None

### Adding a Loss Function and Optimizer to the Neural Network

In [22]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

### Training the Model

In [23]:
model.fit(X_train.values, y_train, validation_data=(X_test.values, y_test), epochs=20, batch_size=32)

Train on 29304 samples, validate on 3257 samples
Epoch 1/20
29304/29304 [==============================] - 1s - loss: 0.3584 - acc: 0.8330 - val_loss: 0.3345 - val_acc: 0.8434
Epoch 2/20
29304/29304 [==============================] - 1s - loss: 0.3257 - acc: 0.8482 - val_loss: 0.3295 - val_acc: 0.8449
Epoch 3/20
29304/29304 [==============================] - 1s - loss: 0.3199 - acc: 0.8524 - val_loss: 0.3282 - val_acc: 0.8446
Epoch 4/20
29304/29304 [==============================] - 1s - loss: 0.3167 - acc: 0.8512 - val_loss: 0.3257 - val_acc: 0.8465
Epoch 5/20
29304/29304 [==============================] - 1s - loss: 0.3130 - acc: 0.8535 - val_loss: 0.3298 - val_acc: 0.8428
Epoch 6/20
29304/29304 [==============================] - 1s - loss: 0.3124 - acc: 0.8541 - val_loss: 0.3231 - val_acc: 0.8431
Epoch 7/20
29304/29304 [==============================] - 1s - loss: 0.3103 - acc: 0.8541 - val_loss: 0.3262 - val_acc: 0.8465
Epoch 8/20
29304/29304 [==============================] - 1s - loss: 0.3086 - acc: 0.8549 - val_loss: 0.3256 - val_acc: 0.8428
Epoch 9/20
29304/29304 [==============================] - 1s - loss: 0.3071 - acc: 0.8555 - val_loss: 0.3241 - val_acc: 0.8465
Epoch 10/20
29304/29304 [==============================] - 1s - loss: 0.3048 - acc: 0.8580 - val_loss: 0.3202 - val_acc: 0.8462
Epoch 11/20
29304/29304 [==============================] - 1s - loss: 0.3032 - acc: 0.8580 - val_loss: 0.3189 - val_acc: 0.8480
Epoch 12/20
29304/29304 [==============================] - 1s - loss: 0.3013 - acc: 0.8606 - val_loss: 0.3253 - val_acc: 0.8456
Epoch 13/20
29304/29304 [==============================] - 1s - loss: 0.2993 - acc: 0.8599 - val_loss: 0.3191 - val_acc: 0.8477
Epoch 14/20
29304/29304 [==============================] - 1s - loss: 0.2980 - acc: 0.8607 - val_loss: 0.3212 - val_acc: 0.8486
Epoch 15/20
29304/29304 [==============================] - 1s - loss: 0.2962 - acc: 0.8622 - val_loss: 0.3168 - val_acc: 0.8496
Epoch 16/20
29304/29304 [==============================] - 1s - loss: 0.2943 - acc: 0.8632 - val_loss: 0.3225 - val_acc: 0.8465
Epoch 17/20
29304/29304 [==============================] - 1s - loss: 0.2929 - acc: 0.8644 - val_loss: 0.3219 - val_acc: 0.8511
Epoch 18/20
29304/29304 [==============================] - 1s - loss: 0.2908 - acc: 0.8640 - val_loss: 0.3191 - val_acc: 0.8539
Epoch 19/20
29304/29304 [==============================] - 1s - loss: 0.2888 - acc: 0.8652 - val_loss: 0.3344 - val_acc: 0.8499
Epoch 20/20
29304/29304 [==============================] - 1s - loss: 0.2875 - acc: 0.8658 - val_loss: 0.3242 - val_acc: 0.8465